<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Review</title>
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    <div class="container">
        <div class="jumbotron">
            <h1>Post your review...</h1>

        </div>
        <div class="page-header">
            <h3>Select author</h3>
        </div>

    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    <div class="col-sm-6">
             <form role="form" method="post" action={% url 'review-book' %}>{% csrf_token %}
                 <div class="form-group">
                        <select class="form-control" title="combo" name="book_name">
                         {% for val,txt in form.fields.book_name.choices %}
                         <option value="{{ val }}"> {{ txt }}</option>
                         {% endfor %}
                        </select>
                 </div>
                <div class="form-group">
                    <textarea class="form-control" id="text" name="text">

                    </textarea>
                </div>
                 <div class="form-group" >
                    <button type="submit" class="btn btn-success btn-block btn-lg">Send</button>
                 </div>
             </form>
            </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>