{% extends 'base.html' %}

{% block content %}
    <form method="POST">{% csrf_token %}
    <p>{{TIME_ZONE}} {% now "jS F Y H:i" %}</p>
    <select name="timezone">
        {% for tz in timezones %}
        <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected="selected"{% endif %}>
            {{ tz }}
        </option>
        {% endfor %}
    </select>

        <input type="submit" name="button">
    </form>
{% endblock %}