<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <title>Thanks!</title>
</head>
<body>
     <div class="alert alert-success">
  <strong>Thank you  {{ user.username }} for your review!</strong> It's very important for us
</div>

</body>
</html>