#critic{
    width: 50%;
    height: 600px;
    display: inline-block;
    text-align:center;
    float: left;

}
#reader{
    height: 600px;
    width: 50%;
    text-align:center;
    display: inline-block;
}
#critic h1 {
     margin:auto;
     display: block;
}
#critic img{
    width: 100%;
    height: 90%;
    display: block;
}
#reader img{
    width: 100%;
    height: 90%;
    display: block;
}
#reader h1 {
     margin:auto;
     display: block;
}

img{
    padding: 10px;
}
.page-header{
    float: left;
}

li{
    padding: 15px;
}

#avatar{
    max-width: 250px;
    max-height: 250px;
}

#cached{
    text-align: center;
}