{% extends 'base.html' %}
{% block content %}
    <h3>Authors:</h3>
    {% load bootstrap_tags %}
    <form method="post" action="">{% csrf_token %}
        <input name="search">
        <input type="submit" value="Search">

    <div class="well">
    <p>Order by:</p>
    <input type="radio" name="rad" value="Desc"> Desc<br>
    <input type="radio" name="rad" value="Asc"> Asc<br>

    </div>
    </form>
    <a href="{% url 'get_author' %}">
        <button  class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new
        </button>
    </a>
    <div class="list-group">

    {% for o in author_list %}

        <a class="list-group-item" href={% url 'auth_by_id' o.pk %}>
            <img width="50px" height="50px" src="{{ o.avatar.url }}"> <br>
            <strong>ID:</strong> {{ o.pk }} <br>
            <strong>First Name:</strong> {{ o.first_name }} <br>
            <strong>Last Name:</strong> {{ o.last_name }}
        </a>

    {% endfor %}

    </div>
    <div id="forscript">

    </div>
    <script>
        $.get("http://127.0.0.1:8000/api-auth/testurl/",function(res){
            res.forEach(function(item){
                $('#forscript').append("<p>"+item.first_name+"</p>");
            });
        })
    </script>

{% endblock %}

