{% extends 'base.html' %}
{% block content %}
{% load bootstrap_tags %}
     <div class="well">Author: </div>
     {{ author.errors }}
     <img id="avatar" src="{{ author.avatar.url }}">
     <form role="form" method="post" enctype="multipart/form-data" action={% url 'auth_by_id' author.pk %}   >{% csrf_token %}
         <div class="form-group  ">
            <label for="id_first_name" class="control-label required-field ">
                First name:
            </label>
                <div class="">
                    <input class=" form-control" id="id_first_name" maxlength="30" name="first_name" type="text" value="{{ author.first_name }}">
                </div>
         </div>
         <div class="form-group  ">
            <label for="id_last_name" class="control-label required-field ">
                Last name
            </label>
                <div class="">
                    <input class=" form-control" id="id_last_name" maxlength="30" name="last_name" type="text" value="{{ author.last_name }}">
                </div>
         </div>
         <div class="form-group  ">
            <label for="id_email" class="control-label required-field ">
                Email
            </label>
                <div class="">
                    <input class=" form-control" id="id_email" maxlength="30" name="email" type="text" value="{{ author.email }}">
                </div>
         </div>
        <div id="div_id_avatar" class="form-group  ">
            <label for="id_avatar" class="control-label required-field ">
                Avatar
            </label>
                <div class="">
                    <input class=" form-control" id="id_avatar" name="avatar" type="file">
                </div>
        </div>

        <button type="submit" class="btn btn-default btn-lg">
            Update
        </button>
     </form>
{% endblock %}