<html lang="en">
<head>
    <title>{% include "title.html" %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

     {% load staticfiles %}
    <link rel="stylesheet" href="{% static "styles/main/home.css" %}">
  </head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <div class="col-s-16">
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">

          <a href="{% url 'home' %}">
              <h3 class="navbar-brand">Reader app</h3>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

            <li>
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">
                      <button type="submit" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Hello,{{ user }} Log out
                      </button>
                    </a>
                {% else %}
                     <a href="{% url 'logout' %}">
                     <button type="submit" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Log in
                      </button>
                     </a>
                {% endif %}

            </li>
          </ul>
        </div>

      </div>

    </nav>
        <div class="container">
            {% block content %}{% endblock %}
        </div>

        {% include "footer.html" %}
    </div>



</body>
</html>