{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    {% load bootstrap_tags %}
    <div class="container">
        <div id="critic">
            <a href="{% url "review-book" %}">

                 <img id="critic" src="{% static "styles/main/Critic.jpg" %}" alt="Critic">
             </a>
            <h1>Critic</h1>
        </div>

        <div id="reader">
            {% if user.is_authenticated %}
                 <a href="{% url "get_author_all" %}">
                  <img id="reader" src="{% static "styles/main/Reader.jpg" %}" alt="Reader">
             </a>
            {% else %}
                 <a href="{% url "login" %}">
                  <img id="reader" src="{% static "styles/main/Reader.jpg" %}" alt="Reader">
             </a>
            {% endif %}
            <h1>Reader</h1>
        </div>
        <div id="cached">
            <p>Cached Avatar (with 10 sec living)</p>
            <img  src="{{ cached_avatar }}" alt="Cached">
        </div>
    </div>
{% endblock %}