{% extends 'base.html' %}
{% block content %}
    {% load bootstrap_tags %}
    <h3>Register</h3>
    <form method="post" action="">{% csrf_token %}
    {{ form|as_bootstrap }}
    <input type="submit" class="btn btn-success btn-block btn-lg"  value="Login">
    </form>
{% endblock %}