{% extends 'base.html' %}
{% block content %}
{% load bootstrap_tags %}

    <div class="well">Add new author</div>
<form method="POST" enctype="multipart/form-data" action={% url 'get_author' %}>{% csrf_token %}

    {{ form|as_bootstrap}}

    <input title="p" type="submit" class="btn btn-success btn-block btn-lg" value="Send">
</form>
{% endblock %}

